
<% @cars.each do |car| %>

 <p> <%= car.name %> </p>
 <p><%= car.price %></p>
 <p><%= car.maker %></p>
 <p><%= car.color %></p>

<% end %>

 <%= link_to "add", cars_new_path, class: "button continue" %>